<div class='box-large round'>

  <div class='box-large-inside'>

    <%= render partial: 'graph_event' %>

    <%= render partial: 'graph_severity' %>

    <%= render partial: 'graph_protocol' %>

    <%= render partial: 'graph_signature' %>

    <%= render partial: 'graph_source_ips' %>

    <%= render partial: 'graph_destination_ips' %>

  </div>

</div>
